*.pyc
tests/*
exe/*
RFSM.egg-info*
RFSM_python/.ipynb_checkpoints/*
RFSM_python/RFSM_funtions-Copy1.py
notebooks/.ipynb_checkpoints/*
others/*
RFSM_python/__pycache__/*
notebooks/RFSM-Example.ipynb
*.bak
notebooks/RFSM-Example.ipynb
*.ipynb
docker/start-singleuser.sh
docker/start-notebook.sh
docker/README.md
docker/jupyter_server_config.py
docker/Dockerfile
docker/.dockerignore
docker/wine.sh
compile/build/ExportTIF/Analysis-00.toc
compile/build/ExportTIF/base_library.zip
compile/build/ExportTIF/EXE-00.toc
compile/build/ExportTIF/ExportTIF.exe.manifest
compile/build/ExportTIF/ExportTIF.pkg
compile/build/ExportTIF/PKG-00.toc
compile/build/ExportTIF/PYZ-00.pyz
compile/build/ExportTIF/PYZ-00.toc
compile/build/ExportTIF/Tree-00.toc
compile/build/ExportTIF/Tree-01.toc
compile/build/ExportTIF/Tree-02.toc
compile/build/ExportTIF/warn-ExportTIF.txt
compile/build/ExportTIF/xref-ExportTIF.html
compile/dist/ExportTIF.exe
