*.pyc
tests/*
exe/*
RFSM.egg-info*
RFSM_python/.ipynb_checkpoints/*
RFSM_python/RFSM_funtions-Copy1.py
notebooks/.ipynb_checkpoints/*
others/*
RFSM_python/__pycache__/*
notebooks/RFSM-Example.ipynb
*.bak
notebooks/RFSM-Example.ipynb
*.ipynb
docker/start-singleuser.sh
docker/start-notebook.sh
docker/README.md
docker/jupyter_server_config.py
docker/Dockerfile
docker/.dockerignore
